
body,header,div,span,p,h1,h2,h3,h4,h5,h6,ul,li{
				margin: 0;
				padding: 0;
				font-family: "微软雅黑";
			}
			body{
			    font-size: 18px;
			    line-height: 38px;
			}
			li{
				list-style: none;
				text-align: center;
				color: #555;
			}
			a{
				color: #605968;
			}
			.des li:nth-of-type(1){
				
				font-size: 1.8em;
				
				margin-top: 30%;
				margin-bottom: 10%;
			}
			.des li:nth-of-type(2){
				
				font-size: 1.2em;
	
			}
			.des li a{
				color: #555;
			}