body,div,ul,li,p,h1,h2,h3,h4,h5,h6,span{
				margin: 0;
				padding: 0;
			}
			body{
				font-family: "微软雅黑";
				color: #555;
				background-color: #fff;
			}
			a{
				color: #605968;
			}
			.mui-bar-nav{
				background-color: #fff;
			    box-shadow: 0 1px 0px #ccc;
			}
			@media (min-width: 768px) {
  				.mainbox {
    			 width: 92%;
  				}
			}
			@media (min-width: 992px) {
			    .mainbox {
			     width: 92%;
			    }
			}
			@media (min-width: 1200px) {
			    .mainbox {
			     width: 92%;
			    }
			}
			@media (min-width: 1600px) {
			    .mainbox {
			    width: 92%;
			    }
			}
			li{
				font-size: 0.9em;
				color: #555;
				text-align: justify;
			}
			#user{
				width: 92%;
				margin:0 auto;
				background-color: #fff;
			    margin-bottom: 5%;
			}
			#title{
				margin:0 auto;
				padding-top: 1em;
				text-align: center;
			}
			
			h2{
				color: #171616;
			    font-size: 1.2em;
			}
			h4{
				font-size: 1.1em;
				color: #171616;
			    margin: 4% 0 2% 0;
			}
			/*div{
				margin-left: 10px;
			}*/
			p{
				margin: 2% 1%;
				color: #555;
				text-align: justify;
				font-size: 0.9em;
			}
			.content{
				margin-left: 50px;
			}
			.content li{
				color: #393939;
				margin-bottom: 2%;
				margin-left: -24px;
				list-style: none;
				
			}
			span{
				font-size: 0.9em;
				font-weight: 600;
				color: #393939;
				
			}