body,p,div,ul,li,span,label,table,textarea,input,button,h1,h2,h3,h4,h5,h6,img{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	color: #555555;
}
.mui-bar .mui-icon:active{
	color: #555;
}
.mui-bar .mui-icon{
	color: #555;
}
.mui-bar-nav{
	box-shadow: none;
}
.mui-bar{
	background: #fff;
    border-bottom: 1px solid #eee;
}
#photo{
	width: 100px;
	height: 100px;
	/*border: 1px solid #ADADAD;*/
	background-image: url(../images/ban_jia.png);
	background-size: cover;
	display: inline-block;
}
#file{
	width: 100px;
	height: 100px;
	border: 1px solid #ADADAD;
	/*display: none;*/
}
button{
	border-radius: 50px;
	padding: 1% 2%;
	margin-right: 2%;
    border: 1px solid #d4d4d4;
	color: #666;
}
form{
	margin: 5% 0;
}
form span{
    vertical-align: sub;
    font-size: 1.2em;
    color: #555;
    margin-right: 3%;
}
.mui-content-padded textarea{
    min-height: 150px;
    font-size: 1em;
    border: 1px solid #adadad;
    padding: 1% 2%;
}
p{
    font-size: 1.2em;
    color: #555;
    margin: 3% 0;
    display: inline-block;
}
#Btn{
    border-radius: 50px;
	width: 44%;
	/*margin: 8% 35% 4% 30%;*/
	background: #c471f3;
	color: #fff;
    margin: 6% 28%;
    min-height: 36px;
}
#footer{
	text-align: center;
}
#footer a{
	color: #fb0404;
	font-size: 14px;
	vertical-align: text-bottom;
	margin-left: 2%;
}
#photoWrap{
	display: inline-block;
	/*width: 250px;*/
}
#photoWrap li{
	list-style: none;
	width: 100px;
	height: 100px;
	/*border: 1px solid #ADADAD;*/
	display: none;
	background-image: url();
	background-size: cover;
}
#photoWrap li img{
	width: 100%;
	height: 100%;
}
#file{
	display: none;
}
.mui-icon-image{
    display: inline-block;
    width: 30px;
    vertical-align: middle;
    margin-left: 3%;
    margin-bottom: 2%;
}