.clearover-none {
		    clear: none;
		    overflow: inherit;
		    width: 74vw;
		    margin: 0 auto;
		    height: 100%;
			}
			span.mui-placeholder span {
    		font-size: 12px;
    	/*	color: red;*/
    		
    	}
    	a {
		    color: #605968;
		}
		
		.mui-pull-bottom-pocket {
		    position: relative;
		    bottom: 65px;
		    height: 40px;
		}
    	#search {
			    box-shadow: 0 1px #d8d8d8;
			    z-index: 100;
		        margin-top: 1%;
			}
  		#pullrefresh{
  			margin-top: 11%;
  			color: #555;
  		}
  		.mui-content{
    		background-color: #fff;
    	}
  		#pullrefresh p{
  			margin-left: 3%;
  			margin-top: 2%;
  			color: #555;
  		}
  		#pullrefresh ul{
  			margin-bottom: 15%;
    		border-bottom: 1px solid #e9e7e7;
  		}
  		#pullrefresh .listA{
  			margin-left: 30%;
      	color: #c500ff;
  		}
  		#pullrefresh .none{
  			height: 5em;
  			line-height: 5em;
  			text-align: center;
    		background-color: #f9f8f9;
    		color: #adadad;
  		}